@import 'variables'

.pagination
    display: flex
    padding-top: 3rem
    align-items: center
    flex-direction: row-reverse

    &__current-page
        color: $text-secondary
        font-size: 2rem
        display: inline
        margin-right: 3rem
        order: 1

    &__button
        svg
            fill: $button-text-primary
        &_active
            svg
                fill: $button-text-secondary
