@keyframes image_sizes_animation {
  0% {
    width: 0;
    height: 0;
    transform: translate(17.5rem, 25rem);
  }
  100% {
    width: 35rem;
    height: 50rem;
  }
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }
    100% {
        opacity: 1;
    }
}


.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .activeImage {
        height: 50rem;
        width: 35rem;
        object-fit: cover;
        order: 1;
        animation: image_sizes_animation 0.3s ease-in;
    }

    .resultsList {
        min-height: 50rem;
        width: 60rem;
        list-style: none;
        padding-inline-start: 0;

        li {
            padding: 1.8rem 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
