// Buttons

$button-text-primary: #878787;
$button-text-secondary: rgb(32, 32, 32);

$button-background-primary: #202020;
$button-background-secondary: rgb(135, 135, 135);

$button-border-primary: #878787;

// Text

$text-primary: #fff;
$text-secondary: #878787;

$input-placeholder_light: #110707;
